<div class="form-group flex-row flex-justify-space-evenly">
    {{#each choices}}
    <span class="chip-span">
        <input type="checkbox" class="hidden-input" id={{@key}} {{#if (eq this true)}}
           checked 
        {{/if}} name="{{concat ../propertyString "." @key}}"/>
        <label for="{{@key}}">{{camelCaseToArray @key true}}</label>
    </span>
    {{/each}}
</div>