<div class="form-group flex-row flex-justify-space-evenly">
    {{#each choices}}
    <span class="input-span">
        <input type="checkbox" id={{@key}} 
        {{#if (eq this true)}}
           checked 
        {{/if}} 
        name="{{concat ../propertyString "." @key}}"
        {{#if (eq ../isDisabled true)}} 
            disabled
        {{/if}}
        />
        <label for="{{@key}}">
            {{#if (eq ../variant "visible-tick") }}
            <span class="tick-box"></span>
            {{/if}}
            {{camelCaseToArray @key true}}
        </label>
    </span>
    {{/each}}
</div>