<form>
    <div>
        <label for="scale-down">Scale down Value</label>
        <input type="number" id="scale-down">
        <!--scale down value-->
    </div>
    <div>
        <label for="scene">Display in Display Scene</label>
        <input type="radio" id="scene">
        <label for="journal">Display in Image Journal</label>
        <input type="radio" id="journal"> <!-- scene or journal toggle -->
    </div>
    <div>
        <label for="activate-scene"> Activate Display Scene on Image Click </label>
        <input type="checkbox" id="activate-scene"> <!-- activate scene on image click toggle-->
    </div>
    <div>
        <input type="submit" id="submit-btn">
    </div>
</form>