<form>
    <div class="form-group">
        <label for="createDisplayTile"></label>
        <button id="createDisplayTile" name="createDisplayTile"></button>

        <label for="createBoundingTile"></label>
        <button id="createBoundingTile" name="createBoundingTile"></button>
    </div>
    <div>
        <label for="displayInScene">Display in Display Scene</label>

        <input type="radio" id="displayInScene" name="displayLocation" value=1 data-dtype="radio">
        <label for="displayInPopout">Display in Image Journal Popout</label>
        <input type="radio" id="displayInPopout" name="displayLocation" value=2 data-dtype="radio" checked> <!-- scene or journal toggle -->
    </div>
    <div>
        <label for="activateDisplayScene"> Activate Display Scene on Image Click </label>
        <input type="checkbox" name="activateDisplayScene" value="{{ activateDisplayScene }}" data-dtype="Boolean"> <!-- activate scene on image click toggle-->
    </div>
    <div>
        <input type="submit" id="submit-btn">
    </div>
</form>