<div class="clickableImageControls">
  <fieldset>
    {{#each displayTiles as |tile|}}
      <input
        type="radio"
        name="selectedDisplayTile"
        id="{{tile.id}}"
        value="{{tile.id}}"
      />
      <label for="{{tile.id}}">
        {{tile.displayName}}
      </label>
    {{/each}}
  </fieldset>
</div>