<div class="clickableImageControls">
  <fieldset>
    {{#each displayTiles as |tileData|}}
      <input
        type="radio"
        name="selectedDisplayTile"
        id="{{tileData.randomID}}"
        value="{{tileData.tile.id}}"
      />
      <label for="{{tileData.randomID}}">
        {{tileData.tile.displayName}}
      </label>
    {{/each}}
  </fieldset>
</div>