<li
    data-flag="ignore-hover"
    class="new-tile-list-item tile-list-item | interactive flexcol flex-justify-stretch focus-reveal"
    data-type="{{this.type}}"
>
    <button
        type="button"
        class="blank-button interactive"
        data-action="globalActions.click.actions.createNewTileData"
        name="globalActions.click.actions.createNewTileData"
    >
        <i class="fas fa-plus"></i>
        Create new
        {{camelCaseToCapitalString this.type}}
        tile
    </button>
</li>