<p
    class="inline-notification | fs-small slight-rounded padding-small margin-none"
    data-variant="{{this.notificationType}}"
    title="{{this.hoverMessage}}"
>
    <span class="icon-span">
        <i class="{{this.icon}}"></i>
    </span>
    {{this.message}}
</p>