<div class="{{type}}-tiles wrapper max-height-full-parent flexcol">
    <h3 class="flex0 padding-medium">{{camelCaseToCapitalString type}} Tiles </h3>
    <div id="{{concat (camelCaseToCapitalString type) "tileWrapper"}}" class="item-wrapper container">
        <ul class="[ overflow-auto-y 
                hidden-overflow-x reset-padding reset-margin 
                padding-small gap-small flow flex-col ]"
            tabindex="0"
        >
            {{#each tiles as |tile|}}
                {{> "modules/journal-to-canvas-slideshow/templates/tile-list-item.hbs"
                    tile 
                    type=../type
                    currentSceneName=@root.currentSceneName
                    allFrameTiles=@root.frameTiles
                }}
            {{/each}}
        
        </ul>
        {{> "modules/journal-to-canvas-slideshow/templates/new-tile-list-item.hbs"
            type=type
            allBoundingTiles=tiles
        }}
    </div>
</div>