<form autocomplete="off" class="flexcol flow">
    <div class="tilesInScene flow">
        <p>Current Scene is: <span class="text-accent text-heavy">{{currentSceneName}}</span></p>
		{{! prettier-ignore }}
        <ul class="flow border-hover scroll-y">
            <h3>Art Tiles</h3>
			{{! prettier-ignore }}
            {{#each artTiles as |tile|}}
				{{> "modules/journal-to-canvas-slideshow/templates/tile-list-item.hbs" tile type="art" currentSceneName=@root.currentSceneName allFrameTiles=@root.frameTiles}}
            {{/each}}
		{{> "modules/journal-to-canvas-slideshow/templates/new-tile-list-item.hbs" type="art" allBoundingTiles=artTiles}}	
        </ul>
		{{! prettier-ignore }}
        <ul class="flow border-hover scroll-y">
            <h3>Frame Tiles</h3>
            {{#each frameTiles as |tile|}}
				{{> "modules/journal-to-canvas-slideshow/templates/tile-list-item.hbs" type="frame" currentSceneName=@root.currentSceneName}}
            {{/each}}
		{{> "modules/journal-to-canvas-slideshow/templates/new-tile-list-item.hbs" type="frame" allBoundingTiles=frameTiles}}	
        </ul>
    </div>
    {{#if shouldPromptConversion}}
        <div class="form-group">
            <p class="notes">Convert display and bounding tiles to the new system that allows multiple display tiles per
                scene</p>
            <button data-action="convert" id="convertTiles" name="convertTiles">Convert Display and Bounding Tiles</button>
        </div>
    {{/if}}
	<div class="form-group">
    	<button data-action="createDisplayTile">Create Display Tile</button>
    	<button data-action="createFrameTile">Create Frame Tile</button>
	</div>
 <fieldset class="toggle-button-group | flex-row rounded">
      <input
        type="radio"
		class="hidden-input"
            id="displayInScene"
            name="displayLocation"
            value="displayInScene"
      />
      <label class="flex-row" for="displayInScene" data-title="">
        Display In Scene
      </label>
 <input
        type="radio"
		class="hidden-input"
            id="displayInJournal"
            name="displayLocation"
            value="displayInJournal"
      />
      <label class="flex-row" for="displayInPopout" data-title="">
        Display In Popout
      </label>
  </fieldset>
    <div class="form-group">
        <label for="activateDisplayScene">
            Activate Display Scene on Image Click
        </label>
        <input
            type="checkbox"
            name="activateDisplayScene"
            value="{{shouldActivateDisplayScene}}"
            data-dtype="Boolean"
        />
        <!-- activate scene on image click toggle-->
    </div>

</form>