<form action="">
        <h1>Share URL Image with your Players?</h1>
        <p class="notes">
            Type or paste an image URL below
        </p>
		{{> (dynamicPartial "input-with-error" @root.partials)
			id="urlInput"	
			name="urlInput"
		}}
        <ul>
            {{#each actions as |action|}}
                <li>{{> (dynamicPartial "icon-button")
                    name=@key     
                    icon=action.icon
                    action=@key
                }}</li>
            {{/each}}
        </ul>
</form>