<form action="">
        Input URL
        <p class="notes">
            Type or paste a URL to share with players
        </p>
		{{> (dynamicPartial "input-with-error" @root.partials)
			id="urlInput"	
			name="urlInput"
		}}
        <ul>
            {{#each actions as |action|}}
                <li>{{> (dynamicPartial "icon-button")
                    name=@key     
                    icon=action.icon
                    action=@key
                }}</li>
            {{/each}}
        </ul>
</form>