<li
    class="interactive flexrow"
    data-id="{{this.id}}"
    data-type="{{this.type}}"
    data-frame-id="{{this.linkedBoundingTile}}"
    data-action="selectTile"
>
    {{this.displayName}}
    <button data-action="renderTileConfig" title="render this tile's config"><i class="fas fa-cog"></i></button>
</li>