@mixin with-absolute-pseudo($centeredX: true, $centeredY: true, $isBefore: true) {
    $pseudoSelector: before;
    @if ($isBefore != true) {
        $pseudoSelector: after;
    }
    position: relative;
    &:#{$pseudoSelector} {
        position: absolute;
        content: "";
        @if ($centeredX and not $centeredY) {
            left: 50%;
            transform: translateX(-50%);
        } @else if ($centeredY and not $centeredX) {
            top: 50%;
            transform: translateY(-50%);
        } @else if($centeredX and $centeredY) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.blank-button {
    border: none;
    background: transparent;
    margin: unset;
    padding: unset;
}

@function returnAllHeadings($startLevel: 1, $endLevel: 6) {
    $selectorList: [];
    @for $var from $startLevel to $endLevel {
        $headerSelector: "h#{$var}";
        $selectorList: join($selectorList, $headerSelector);
    }
    @return $selectorList;
}
@mixin printSelectors($selectorList, $propertyMap) {
    @for $i from 1 to length($selectorList) {
        #{nth($selectorList, $i)} {
            @each $property, $value in $propertyMap {
                #{$property}: $value;
            }
        }
    }
}
